  // Konten atas
  .content-atas {
    background-color: #1f3c88;
    padding: 20px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    margin-bottom: 50px; 
    border: 1px solid #ccc; 
  }
  
  .content-atas h2 {
    color: white; 
  }

  .content-atas p{
    color: white;
  }
  
  .container-content {
    margin-top: 20px; 
    margin-bottom: 50px;
  }

  .rental-image {
    width: 50%; 
    height: auto; 
    margin-right: 0;
    margin-left: 25%;
    margin-top: 15%;
  }

  
  .bio-container {
    border-top: 5px solid #ccc; 
    padding-top: 1px; 
    }

  
  //.bio-container:hover {
    //color: blue; 
    //cursor: pointer; 
  //}


  .bio-title {
    color: black; 
  }
  
  
  .bio-title:hover {
    color: $text-color; 
    cursor: pointer; 
  }

  .testimonial-img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
  }

  .testimonial-img:hover {
    transform: scale(1.1); 
  }
  
  .text-modern {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold; 
    letter-spacing: 2px; 
  }
  
  
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.map-container {
  width: 80%; 
}

.map-frame {
  border: 5px solid #ff5733; 
  border-radius: 20px; 
  overflow: hidden;
}

.content-ini{
  text-align: left;
  color: #fff;
  font-style: bold;
}

.bg-custom {
  background-color: #070d59;
}
