.testimonial-tools {
    width: 100%;
    height: 300px; /* Ubah sesuai dengan kebutuhan Anda */
    object-fit: cover; /* Menjaga aspek ratio gambar */
  }

  .container-fluid {
    width: 85%;
    height: 80px;
    border-radius: 10px;
    background-color: #1f3c88;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-1 {
    max-width: 1200px; 
    margin: 0 auto;
  }
  
  .row1 {
    height: 100%;
  }
  
  .counter {
    justify-content: center; 
    align-items: center; 
    height: 100%;
  }
  
  .text-modern {
    color: white;
    font-size: 4vw; 
  }
  
  @media (max-width: 768px) {
    .container-fluid {
      height: 150px;
    }
    .text-modern {
      font-size: 3vw; 
    }
  }
  
  @media (max-width: 375px) {
    .container-fluid {
      height: 100px; 
    }
    .text-modern {
      font-size: 5vw; 
    }
  }