* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popup h2 {
  margin-top: 0;
  color: #333333;
  text-align: center;
}
.popup form {
  display: flex;
  flex-direction: column;
}
.popup form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.popup form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.popup form button:hover {
  background-color: #2980b9;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-3 {
  margin-bottom: 20px;
}

.img-fluid {
  border: 2px solid #ccc;
  border-radius: 8px;
}

.separator-line {
  border-bottom: 1px solid #ccc; /* Menambahkan garis bawah dengan warna abu-abu */
  margin-bottom: 20px; /* Memberikan jarak bawah antara garis dan konten berikutnya */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Menambahkan shadow */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.navbar-nav .nav-link {
  color: #000 !important;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: #fff !important;
  background-color: #ff8166;
}

.dropdown-menu {
  background-color: #ff5733;
}

.dropdown-item {
  color: #ffffff;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #ff8166;
}

.img-fluid {
  transition: transform 0.3s ease;
}

.img-fluid:hover {
  transform: scale(1.05);
}

.navbar.follow-header {
  background-color: #ff5733;
}

.logo-camera {
  width: 100px;
  height: 100px;
  background-color: #333;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.logo-camera::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.logo-camera::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 60px;
  background-color: #333;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.logo-camera::before, .logo-camera::after {
  box-shadow: 0 0 0 4px #333;
}
.logo-camera .lens {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.logo-camera .flash {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #333;
  top: 15px;
  right: 15px;
  transform: rotate(45deg);
  z-index: 1;
}
.logo-camera .strap {
  position: absolute;
  width: 2px;
  height: 30px;
  background-color: #333;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  z-index: 1;
}

.footer {
  background: linear-gradient(45deg, #5893d4 50%, #070d59 50%);
  background-size: 200% 200%;
  animation: gradient 3s ease forwards;
  color: #fff;
  padding: 20px 0;
  margin-top: 5%;
}
@keyframes gradient {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

.footer-posisi {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.footer h5 {
  font-size: 1.2rem;
}

.footer p {
  font-size: 0.9rem;
}

.footer ul li {
  margin-bottom: 5px;
}

.footer iframe {
  margin-top: 10px;
}

.footer .list-inline-item img {
  width: 30px;
  height: auto;
}

#map {
  height: 150px;
}

.separator {
  border-left: 5px solid #212529;
  height: 100%;
  margin: 0;
}

.header {
  background: linear-gradient(45deg, #5893d4 50%, #070d59 50%);
  background-size: 200% 200%;
  animation: gradient 3s ease forwards;
  color: #fff;
  padding: 20px 0;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.header h1 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.header p {
  margin-bottom: 20px;
}

.content-atas {
  background-color: #1f3c88;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  border: 1px solid #ccc;
}

.content-atas h2 {
  color: white;
}

.content-atas p {
  color: white;
}

.container-content {
  margin-top: 20px;
  margin-bottom: 50px;
}

.rental-image {
  width: 50%;
  height: auto;
  margin-right: 0;
  margin-left: 25%;
  margin-top: 15%;
}

.bio-container {
  border-top: 5px solid #ccc;
  padding-top: 1px;
}

.bio-title {
  color: black;
}

.bio-title:hover {
  color: #ff5733;
  cursor: pointer;
}

.testimonial-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.testimonial-img:hover {
  transform: scale(1.1);
}

.text-modern {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  letter-spacing: 2px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.map-container {
  width: 80%;
}

.map-frame {
  border: 5px solid #ff5733;
  border-radius: 20px;
  overflow: hidden;
}

.content-ini {
  text-align: left;
  color: #fff;
  font-style: bold;
}

.bg-custom {
  background-color: #070d59;
}

.toggle-specs {
  margin-top: 10px;
}

.specs {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  display: none;
}

.specs.active {
  display: block;
}

body {
  font-family: sans-serif;
  background-color: #eee;
}

/*card */
.section-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 48px;
  width: 80%;
  margin: 60px auto;
  background-color: #fff;
}

.card {
  background-color: #fff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card__img {
  width: 100%;
  height: 400px;
  display: block;
  object-fit: cover;
}

.card__details {
  padding: 10px 0;
}

.card__details ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  padding: 20px 0;
}

.card__details ul li {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 12px 0;
}

.card__details ul h4 {
  width: 100%;
  text-align: center;
  padding: 12px 0;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #bbb;
}

.btn {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  padding: 14px 28px;
  border-radius: 50px;
  margin: 0 auto 30px;
  background-color: #f7b633;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.2s;
}

.btn:hover {
  background-color: #f7b633;
  transform: translateY(-2px);
}

.card-1 .btn {
  background-color: #f7b633;
}

@media (max-width: 992px) {
  .section-card {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .section-card {
    grid-template-columns: 1fr;
  }
}
.contact-form {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
}
.contact-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
  text-align: center;
}
.contact-form form .form-group {
  margin-bottom: 20px;
}
.contact-form form .form-group label {
  font-weight: bold;
  color: #555;
}
.contact-form form .form-group input[type=text],
.contact-form form .form-group input[type=email],
.contact-form form .form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.contact-form form .form-group input[type=text]:focus,
.contact-form form .form-group input[type=email]:focus,
.contact-form form .form-group textarea:focus {
  outline: none;
  border-color: #007bff;
}
.contact-form form .form-group textarea {
  resize: vertical;
  min-height: 150px;
}
.contact-form form button[type=submit] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
.contact-form form button[type=submit]:hover {
  background-color: #0056b3;
}

.testimonial-tools {
  width: 100%;
  height: 300px; /* Ubah sesuai dengan kebutuhan Anda */
  object-fit: cover; /* Menjaga aspek ratio gambar */
}

.container-fluid {
  width: 85%;
  height: 80px;
  border-radius: 10px;
  background-color: #1f3c88;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 {
  max-width: 1200px;
  margin: 0 auto;
}

.row1 {
  height: 100%;
}

.counter {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text-modern {
  color: white;
  font-size: 4vw;
}

@media (max-width: 768px) {
  .container-fluid {
    height: 150px;
  }
  .text-modern {
    font-size: 3vw;
  }
}
@media (max-width: 375px) {
  .container-fluid {
    height: 100px;
  }
  .text-modern {
    font-size: 5vw;
  }
}
.primary-text {
  color: blue;
}

.primary-background {
  background-color: blue;
}

.secondary-text {
  color: green;
}

.secondary-background {
  background-color: #00e600;
}

.accent-text {
  color: red;
}

.accent-background {
  background-color: #ff6666;
}

/*# sourceMappingURL=style.css.map */
